<h1>Welcome To Wikiful</h1>
<h2>Here are the most recent articles.</h2>
<% @newest_articles.each do |article| %>
	<div>
		<h3><%= article.title %></h3>
		<p>Published on <%= l(article.created_at) %></p>
		<p>Categorized under: <%= article.categories.each do |category| %>
							<%= category.name %>&nbsp;
							<% end %>
		</p>
		<p><%= truncate(article.content,length: 100) %></p>
	</div>
<% end %>	
